<plugin id = "zhouxuan">
<require>
<import plugin="org.eclipse.ui"/>
<import plugin = "org.eclipse.jdt.core"/>
</require>
<extension point="org.eclipse.ui.actionSets">
  <actionSet
    id="org.eclipse.contribution.hello.actionSet"
    label="Hello Action Set">
    <action
          class="zhouxuan.HelloAction"
          id="org.eclipse.contribution.hello.HelloAction"
          label="Hello"
          toolbarPath="helloGroup">
    </action>
  </actionSet>
</extension>

<extension point="org.eclipse.ui.popupMenus">
  <objectContribution
    id="org.eclipse.contribution.junit.runtest"
    objectClass="org.eclipse.jdt.core.IType">
    <action
      id="org.eclipse.contribution.junit.runtest.action"
      label="Run Test"
      class="zhouxuan.JunitAction"
      enablesFor="1">
    </action>
  </objectContribution>
</extension>

<extension-point id = "listeners" name = "Test Listeners"/>

<extension point = "zhouxuan.listeners">
<listener
class = "zhouxuan.JunitAction$Listener">
</listener>
</extension>

<runtime>
<library name = "zhouxuan.jar">
<export name = "*"/>
</library>
</runtime>
</plugin>
